<app-app-menu></app-app-menu>
<div class="userDetail">
  <button routerLink=".."><span class="material-symbols-outlined">arrow_back</span></button>
  <div class="userInfo" *ngIf="user.id">
    <button class="delete" (click)="deleteUser(user)">Delete user</button>
    <h2>Main information</h2>

    <div class="name">
      <label>Name</label>
      <p>{{user.name}}</p>
    </div>

    <div class="email">
      <label>Email</label>
      <p>{{user.email}}</p>
    </div>

    <div class="phone">
      <label>Phone</label>
      <p>{{user.phone}}</p>
    </div>

    <div class="work">
      <label>Work</label>
      <p>{{user.work}}</p>
    </div>

    <div>
      <h4 class="Ev">Events</h4>
      <table>
        <thead>
        <tr>
          <td>Event ID</td>
          <td>Start</td>
          <td>End</td>
          <td>Location</td>
          <td>Name</td>
          <td>Price</td>
          <td>Status</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of user.creatorEvents" (click)="showEventDetails(event)">
          <td>{{event.id}}</td>
          <td>{{parseDate(event.startDate)}}</td>
          <td>{{parseDate(event.endDate)}}</td>
          <td>{{event.address}}</td>
          <td>{{event.name}}</td>
          <td>{{event.price}}</td>
          <td [ngClass]="getStatusStyle(event.status)">{{event.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
