<div class="vertical-menu">
  <h3>EventAdmin</h3>
  <p><a [routerLink]="'/events'">Events</a>
  <h4>basic</h4>
  <p><a [routerLink]="'/stats'">Statistics</a>
  <p><a [routerLink]="'/users'">Users</a>
  <p><a [routerLink]="'/moderation'">Moderation</a>
</div>
<div class="userDetail">
  <div class="userInfo">
    <h2>Main information</h2>

    <div class="name">
      <label>Name</label>
      <p>{{user.name}}</p>
    </div>

    <div class="email">
      <label>Email</label>
      <p>{{user.email}}</p>
    </div>

    <div class="phone">
      <label>Phone</label>
      <p>{{user.phone}}</p>
    </div>

    <div class="work">
      <label>Work</label>
      <p>{{user.work}}</p>
    </div>

    <div>
      <h4 class="Ev">Events</h4>
      <table>
        <thead>
        <tr>
          <td>Event ID</td>
          <td>Start</td>
          <td>End</td>
          <td>Location</td>
          <td>Name</td>
          <td>Price</td>
          <td>Status</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of user.creatorEvents" (click)="showEventDetails(event)">
          <td>{{event.id}}</td>
          <td>{{parseDate(event.startDate)}}</td>
          <td>{{parseDate(event.endDate)}}</td>
          <td>{{event.address}}</td>
          <td>{{event.name}}</td>
          <td>{{event.price}}</td>
          <td>{{event.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
