
h3 {
  width: 169.07px;
  height: 22.98px;
  left: calc(50% - 169.07px / 2 - 19.43px);
  top: 19.45px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  color: #475F7B;
}

h4 {
  width: 74px;
  height: 12.38px;
  left: calc(50% - 74px / 2 - 62.5px);
  top: 106.96px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #BAC0C7;


}

.vertical-menu {
  float: left;
  margin-left: -6px;
  padding: 0;
  width: 259px;
  height: 1023px;
  background-color: #F2F4F4;
  outline: 1px solid #C7CFD6;

}


.vertical-menu a {
  padding-left: 24px;
  color: #475F7B;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
  margin-top: 0px;
  width: 597px;
  height: 26px;
  left: calc(50% - 597px / 2 - 90.5px);
  margin-left: 10px;
  padding-top: 50px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #475F7B;

}
.vertical-menu span{
 font-size: 19px;
 vertical-align: middle;
 color: #475F7B;
 padding-right: 5px;

}
.vertical-menu a.ev span{
margin-top: -3px;
}
