<div *ngIf="authenticationError">
  <strong>Failed to sign in!</strong> Please check your credentials and try again.
</div>
<div *ngIf="!isAuthenticated && !authenticationError">
  <img src="/assets/img/background.jpg" class="background" alt="image"></img>
  <header>
    <h1>WELCOME TO EVENT</h1>
    <h2 class="st1">ADMIN</h2>
    <h2 class="st2">discover popular events & nearby fun</h2>
  </header>
  <div>
    <h3>ВВЕДИТЕ ПОЧТУ И ПАРОЛЬ, ЧТОБЫ ВОЙТИ</h3>
    <form class="em">
      <label class="email">ПОЧТА</label>
      <input [(ngModel)]="email" name="email" type="text" id="mail" placeholder="name@email.com">
    </form>
    <form class="pass">
      <label class="password">ПАРОЛЬ</label>
      <input [(ngModel)]="password" name="password" type="password" id="pin" placeholder="********">
    </form>
    <button class="login" (click)="login()">ВОЙТИ</button>
  </div>
</div>
