<div *ngIf="authenticationError" xmlns="http://www.w3.org/1999/html">
  <strong>Failed to sign in!</strong> Please check your credentials and try again.
</div>
<div class="log" *ngIf="!loginService.isLoggedIn">
  <img src="/assets/img/background.jpg" class="background" alt="image"/>
  <header>
    <h1>WELCOME TO EVENT</h1>
    <h2 class="st1">ADMIN</h2>
    <h2 class="st2">discover popular events & nearby fun</h2>
  </header>
  <div>
    <h3>ENTER YOUR EMAIL AND PASSWORD TO LOGIN</h3>
    <form class="em">
      <label class="email">EMAIL</label>
      <span class="material-symbols-outlined">mail</span>
      <input [(ngModel)]="email" name="email" type="text" id="mail"  placeholder="name@email.com">
    </form>
    <form class="pass">
      <label class="password">PASSWORD</label>
      <span class="material-symbols-outlined">lock</span>
        <input [(ngModel)]="password" name="password" type="password" id="pin" placeholder="********">
    </form>
    <button class="login" (click)="login()">ВОЙТИ</button>
  </div>
</div>
