<app-app-menu></app-app-menu>
<button class="delete" (click)="deleteEvent(event)">Delete event</button>
<button class="info" (click)="showUserDetails(event.creator)">Creator information</button>
<div class="eventDetail">
  <button routerLink=".."><span class="material-symbols-outlined">arrow_back</span></button>
  <div class="eventInfo" *ngIf="event.creator">
    <h2>Event №{{event.id}}</h2>
    <div class="creator">
      <label>Creator</label>
      <p>{{event.creator.name}}</p>
    </div>
    <div class="phone">
      <label>Phone</label>
      <p>{{event.creator.phone}}</p>
    </div>
    <div class="address">
      <label>Event address</label>
      <p>{{event.address}}</p>
    </div>
    <div class="start">
      <label>Start</label>
      <p>{{eventService.parseDate(event.startDate)}}</p>
    </div>
    <div class="end">
      <label>End</label>
      <p>{{eventService.parseDate(event.startDate)}}</p>
    </div>
    <div class="inform">
      <label>Event information</label>
      <p>{{event.description}}</p>
    </div>
    <div>
      <h4 class="Us">Users</h4>
      <table>
        <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Events</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Place of job</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of event.users" (click)="showUserDetails(user)">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td *ngIf="user.creatorEvents">{{user.creatorEvents.length}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.work}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
