<div class="vertical-menu">
  <h3>EventAdmin</h3>
  <p><a [routerLink]="'/events'">Events</a>
  <h4>basic</h4>
  <p><a [routerLink]="'/stats'">Statistics</a>
  <p><a [routerLink]="'/users'">Users</a>
  <p><a [routerLink]="'/moderation'">Moderation</a>
</div>
<button class="delete" (click)="deleteEvent(event)">Delete event</button>
<button class="info" (click)="showCreatorInfo(event.creator)">Creator information</button>
<div class="eventDetail">
 <!-- <button class="delete" (click)="deleteEvent(event)">Delete event</button>
  <button class="info" (click)="showCreatorInfo(event.creator)">Creator information</button>-->
  <div class="eventInfo">
    <h2>Event №{{event.id}}</h2>
    <div class="creator">
      <label>Creator</label>
      <p>{{event.creator.name}}</p>
    </div>
    <div class="phone">
      <label>Phone</label>
      <p>{{event.creator.phone}}</p>
    </div>
    <div class="address">
      <label>Event address</label>
      <p>{{event.address}}</p>
    </div>
    <div class="start">
      <label>Start</label>
      <p>{{parseDate(event.startDate)}}</p>
    </div>
    <div class="end">
      <label>End</label>
      <p>{{parseDate(event.startDate)}}</p>
    </div>
    <div class="inform">
      <label>Event information</label>
      <p>{{event.description}}</p>
    </div>
        <div>
      <h4 class="Us">Users</h4>
      <table>
        <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Events</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Place of job</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of event.users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.creatorEvents.length}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.work}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
