<img src="/assets/img/background.jpg" class="background" />
<header>
   <h1>WELCOME TO EVENT</h1>
     <h2 class="st1">ADMIN</h2>
     <h2 class="st2">discover popular events & nearby fun</h2>
</header>
<div>
    <h3>ВВЕДИТЕ ПОЧТУ И ПАРОЛЬ, ЧТОБЫ ВОЙТИ</h3>
    <form class="em">
    <label class="email">ПОЧТА</label>
    <input type="text" id="mail"  placeholder="name@email.com">
    </form>
    <form class="pass">
    <label class="password">ПАРОЛЬ</label>
    <input type="password" id="pin" placeholder="********">
    </form>
    <button class="login">ВОЙТИ</button>
</div>