<app-app-menu></app-app-menu>
<div>
  <div class="userList">
    <div>
      <h4 class="Us">Users</h4>
      <table>
        <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Events</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Place of job</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users" (click)="showUserDetails(user)">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.creatorEvents.length}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.work}}</td>
        </tr>
        </tbody>
      </table>
      <hr>
      <ul>
        <li *ngFor="let p of pages; let i=index">
          <a (click)="setPage(i-1,$event)"><span class="material-symbols-outlined">arrow_back</span></a>
          <a class="now" (click)="setPage(i,$event)">{{i + 1}}</a>
          <a (click)="setPage(i+1,$event)"><span class="material-symbols-outlined">arrow_forward</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
